/*
primary color: #b7b7a4;
secondary color: #a5a58d;
tertiary color: #414833;
*/

* {
    -fx-font-family: 'Montserrat', sans-serif;
}

.bold {
    -fx-font-weight: 700;
}
.split-pane-divider {
    -fx-padding: 0 ;
}
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-text-fill: #414833;
    -fx-font-weight: bold;
}
.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #a5a58d;
    -fx-text-fill: #414833;
}
.table-view{
    -fx-background-color: transparent;
}
.border-horizontal {
    -fx-border-width: 0 1px 0 1px;
    -fx-border-color: #b7b7a4;
    -fx-border-style: solid;
}

.primary {
    -fx-text-fill: #b7b7a4;
}

.secondary {
    -fx-text-fill: #a5a58d;
}

.tertiary {
    -fx-text-fill: #414833;
}

.bg-primary {
    -fx-background-color: #b7b7a4;
}

.bg-secondary {
    -fx-background-color: #a5a58d;
}

.bg-tertiary {
    -fx-background-color: #656d4a;
}